.container {

    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .cardOne {
    width: 10%;
    min-width: 300px;
    height: 30vh;
    background-image: url(../../assets/images/img9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #fff;
  }
  
  .cardOne:hover {
    background-image: url(../../assets/images/img10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
  }
  
  .cardTwo {
    width: 10%;
    min-width: 300px;
    height: 30vh;
    background-image: url(../../assets/images/img5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #fff;
  }
  
  .cardTwo:hover {
    background-image: url(../../assets/images/img6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
  }
  
  .cardThree {
    width: 10%;
    min-width: 300px;
    height: 30vh;
    background-image: url(../../assets/images/img7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #fff;
  }
  
  .cardThree:hover {
    background-image: url(../../assets/images/img8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
  }
  
  .cardFour {
    width: 10%;
    min-width: 300px;
    height: 30vh;
    background-image: url(../../assets/images/img11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #fff;
  }
  
  .cardFour:hover {
    background-image: url(../../assets/images/img12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
  }
  
  .IconContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
  }
  
  a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: #3f4a4f;
    width: 600px;
  }
  
  .buttonContainer {
    display: flex;
    width: 100%;
    height: 30%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .appButton {
    background-color: #3f4a4f;
    color: white;
    padding: 1rem;
    border-radius: 15px;
    width: 50%;
  }
  
  .appButton:hover {
    background-color: lightgrey;
    color: #3f4a4f;
    padding: 1rem;
    border-radius: 15px;
    transform: scale(1.2);
    transition: all 0.3s ease;
    cursor: pointer;
  }