.App {
  text-align: center;
  }
  
  body {
  background-color: #f2f4f5;
  }
  
  .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }
  
  .about {
  width: 25%;
  min-width: 300px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3f4a4f;
  padding: 2rem;
  
  }
  
  .box2 {
  width: 25%;
  min-width: 300px;
  height: 95vh;
  padding: 2rem;
  
  }
  
  .box3 {
  width: 25%;
  min-width: 300px;
  height: 95vh;
  padding: 2rem;
  
  }
  
  .IconContainer {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  }
  
  .gh {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  height: 40%;
  
  }
  
  .li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  height: 40%;
  
  }
  